*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headTop{
    position: relative;
    background-color: #222222;
    width: 100%;
    height: 20px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.ofertas{
    position: absolute;
    left: 90px;
    top: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F3F3F3;
}

.headTop .spanish{
    position: absolute;
    width: 46px;
    height: 12px;
    right: 110px;
    top: 4px;
}

.headTop img{
    padding-left: 3px;
}

.headTop p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #F3F3F3;
}


.headTop .price{
    position: absolute;
    width: 46px;
    height: 12px;
    right: 50px;
    top: 4px;
}

.headerMain{
    position: relative;
    width: 100%;
    height: 62px;
    background: #F0A83E;
}

.logo{
    position: absolute;
    width: 230px;
    height: 23px;
    left: 40px;
    top: 20px;
    margin: 0px;
}

.menu{
    position: absolute;
    width: 450px;
    right: 0px;
    top: 20px;
    
}

.logo li{
    display: inline-block;
    margin: 0px;
}

#logoText1{
    height: 23px;
    top: 39px;
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #3C2313;
}

#logoText2{
    height: 23px;
    left: calc(50% - 96.35px/2 - 356.82px);
    top: 39px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}

.menu nav li{
    display: inline-block;
    margin: 2px;
    width: 20%;
    height: 14px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    color: #FFFFFF;
}

nav li:hover{
    color:#000;
    }

.menu nav a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 13px;
}

.menu nav li img{
    display: inline-block;
    padding-right: 2px; 
}

main{
    margin: 0px;
    width: 100%;
}

main .hero img{
    width: 100%;
}

.productosDestacados{
    display: flex;
    justify-content: center;
    position: relative;
}

.productosDestacados img{
    position: absolute;
    align-items: center;
    top: 20px;
}

.productosDestacados p{
    position: absolute;
    width: 406px;
    height: 47px;
    top: 96px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #3C2313;
}

.productosDestacados .linksPD{
    position: absolute;
    top: 163px;
}

.productosDestacados li{
    display: inline-block;
    height: 18px;
    padding: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 1000;
    font-size: 15px;
    line-height: 18px;

    color: #666666;
}

section{
    position: relative;
    top: 230px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    padding: 0% 10%;
} 

article{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #FBFAF6;
}

section article p.nombreProducto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight:bold;
    font-size: 15px;
    line-height: 18px;
    color: #3C2313;
}

section article p.precioProducto{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    color: #F0A83E;
}

.formulario{
    position: absolute;
    width: 100%;
    height: 300px;
    top: 1200px;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;;
    justify-content: center;
    text-align: center;
        h3{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: bold;
            font-size: 25px;
            line-height: 29px;
            color: #3C2313;
            margin-bottom: 20px;
        }
        form{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            input{
                width: 340px;
                height: 40px;
                margin: 5px;
                padding-left: 14px;
                border: none;
                color: #efe4e4;
                left: calc(50% - 340px/2 + 1px);
                top: calc(50% - 40px/2 + 275.5px);
                background: #3C2313;
                border-radius: 15px;
                justify-content: center;
            }
            .buttons{
                display: flex;
                margin-top: 20px;
                button{
                    margin: 3px;
                    width: 110px;
                    border: none;
                    height: 34px;
                    border-radius: 15px;
                    span{
                        width: 63px;
                        height: 19px;
                        font-family: 'Roboto';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 19px;
                        color: #FFFFFF;
                    }
                    &.uno{
                        background: #8A8787;
                    }
                    &.dos{
                        background: #F0A83E;
                    }
                }
            }
        }
}

footer{
    position: absolute;
    top: 1560px;
    width: 100%;
    height: 248px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: #3C2313;

    .iconos2{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 70px;
        margin-bottom: 10px;
        width: 20%;
    }

    .logo2{
        display: flex;
        justify-content: center;
        width: 20%;
        height: 23px;
        margin-top: 100px;
        margin-right: 40px;
    }
}
